:root{
    --body-clr : rgb(255, 252, 242);
    --nav-clr :rgb(255, 243, 193);
    --icon-clr : rgb(137, 123, 78);
    --icon-hover-clr : rgb(172, 165, 141);
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: var(--body-clr);
}
.navbar{
    display: flex;
    padding: .5em;
    background: var(--nav-clr);
}
h2{
    color: rgb(82, 82, 82);
}
.icon{
    /* border: 1px solid red; */
    flex-shrink: 0;
    color: rgb(152, 116, 6);
    font-size: 1.4rem;
    padding: 1rem;
}
.icon h3{
    /* font-weight: 300; */
    letter-spacing: 2px;
    font-style: italic;
}
.links{
    /* border: 1px solid green; */
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
@media (max-width:430px){
    .links{
        flex-direction: column;
    }
    .link{
        margin: .2rem;
    }
}
.link{
    padding: 6px;
    width: 5rem;
    text-align: center;
    background: var(--icon-clr);
    color: white;
    margin-left: .5rem;
    border-radius: 4px;
    cursor: pointer;
}
.link:hover{
    background: var(--icon-hover-clr);
}
.parent{
    display: flex;
    position: relative;
}
.sidebar{
    /* border: 1px solid red; */
    padding: 1rem;
    width: 16rem;
}
.sidebar .search{
    margin-bottom: 20px;
}
.sidebar .search input{
    padding: .4rem;
    width: 14rem;
}
.sidebar .list{
    padding: .4rem;
    cursor: pointer;
    list-style: none;
    margin-top: 4px;
    background: var(--icon-clr);
    color: white;
}
.sidebar .list:hover{
    background: var(--icon-hover-clr);
}
li::marker{
    content: '';
}
.main-content{
    display: flex;
    flex-wrap: wrap;
    min-height: 70vh;
    overflow-y: auto;
    padding: 1rem;
}

.main-content h2{
    font-weight: 500;
    width: 100%;
    position: absolute;
}
.main-content h3{
    font-weight: 500;
    padding: 1rem;
    width: 100%;
    
}
.product{
    /* border: 1px solid yellow; */
    border-radius: 5px;
    margin-top: 2rem;
    margin: 2rem 1rem 0 0;
    text-align: center;
    transition: .4s;
}
.product img{
    display: inline-block;
    height: 14rem;
    width: 14rem;
    
}
.product:hover{
    box-shadow: 5px 5px 5px gray;
}
.product:hover .name{
    font-size: 1.2rem;
}
.product:hover .price{
    font-size: 1.1rem;
}
.product .name{
    color: var(--icon-clr);
    text-transform: capitalize;
    transition : .2s
}
.product .price{
    color: green;
    transition : .2s
}
.product .detail{
    padding: .4rem .4rem 1rem .4rem;
}
.range-otp{
    color: green;
}
.modal{
    max-height: 0px;
    width: 90%;
    height: 80%;
    overflow: auto;
    transition: .3s;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background: rgba(247, 243, 238, 0.951);
    box-shadow: 5px 5px 15px gray;
    z-index: 2;
}
.add-plus{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.8rem;
    margin-left: -1rem;
    height: 6rem;
    width: 6rem;
    background: var(--icon-clr);
    color: var(--nav-clr);
    border-radius: 50%;
    cursor: pointer;
    right: 5%;
    bottom: 10%;
    z-index: 1;
    transition: .3s;
}
.add-plus:hover{
    color: white;
    font-size: 3rem;
    /* padding: 1.1rem 1.4rem; */
}
.modal h1{
    text-align: right;
    margin: 5px 5px 0px 0px;
    /* border: 1px solid red; */
    height: 40px;
}
.modal-cross{
    padding: 6px;
    /* color: rgb(255, 255, 255); */
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: none;
    transition: all .4s;
}
.modal-cross:hover{
    font-size: 24px;
}
.modal-content{
    display: flex;
    /* border: 1px solid yellow; */
}
.modal-section{
    padding: 20px;
}
.modal-section img{
    width: 25rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 4px 4px 15px gray;
}
@media (max-width:880px){
    .modal-content{
        flex-direction: column;
    }
    .modal-section img{
        width: 90%;
        margin: 0 1rem;
        height: 20rem;
    }
}
.modal-section p{
    /* border: 1px solid cyan; */
    margin: 0px 0px 10px 0px;
    text-align: justify;
}
.modal-section h2{
    margin-bottom: 10px;
    color: rgb(82, 82, 82);
}
.modal-contact-btn{
    padding: 8px;
    margin: .5rem 0;
    border-radius: 4px;
    cursor: pointer;
    width: 10rem;
    font-size: 1rem;
    border: none;
    background: var(--icon-clr);
    color: white;
}
.modal-contact-btn:hover{
    background: var(--icon-hover-clr);
}
.modal-price{
    color: green;
    font-size: 18px;
}

/* add-parent */
.add-parent{
    display: none;
}
.head {
    margin-bottom: 1rem;
}
.head p{
    font-size: 14px;
}
.form{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.form .sidebar{
    padding: 0px 2rem 0 0;
}
.main-form{
    /* border: 1px solid blue; */
    padding: 1rem;
    /* box-shadow: 5px 5px 15px gray; */
    background: rgb(253, 246, 233);
}
.add-parent .sidebar {
    background-color: rgb(237, 234, 231);
    padding: 1rem;
}
.inp{
    /* border: 1px solid yellow; */
    margin-bottom: 20px;
    padding: 5px;
    transition: .4s;
}
.select{
    width: 30rem;
    padding: 5px;
    border: none;
    background: transparent;
    border-bottom: 2px solid rgb(61, 61, 61);
}

.main-form input{
    display: block;
    width: 30rem;
    padding: 1rem;
    border: none;
    /* box-shadow: 1px 1px 5px gray; */
    border-bottom: 2px solid var(--icon-clr);
    background: transparent;
    transition: all .3s;
    /* border-radius: 5px; */
}
.main-form input:focus{
    outline: none;
}
.lbl{
    color: rgb(66, 66, 66);
    /* border: 1px solid red; */
    width: 30rem;
    text-align: center;
    display: block;
    padding: 5px;
    transition: all .3s;
}
.main-form .inp:hover .lbl{
    font-size: 1.2rem;
}

.acc{
    margin-bottom: 2rem;
}

.add-btn .btn{
    border: none;
    background: var(--icon-clr);
    margin: auto;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    transition: all .3s;
    cursor: pointer;
}
.add-btn .btn:hover{
    box-shadow: 5px 5px 15px gray;
}
.accordion-content{
    background: rgb(232, 223, 223);
    /* padding: .5rem; */
    max-height: 0rem;
    display: flex;
    flex-direction: column;
    color: rgb(79, 79, 79);
    max-height: 0px;
    overflow: hidden;
    transition: .2s;
}
.accordion-content button{
    /* width: 6rem; */
    padding: .2rem;
}
.accordion-content *{
    margin-bottom: 1rem;
    position: relative;
}
.accordion-hide-btn{
    position: absolute;
    right: 1%;
    cursor: pointer;
    text-align: center;
    transition: .3s;
}
.accordion-hide-btn:hover{
    font-size: 1.5rem;
}
.property-lists .active{
    background: var(--icon-hover-clr);
    cursor: default;
}

.check-property{
    padding: .5rem;
    border: none;
    background: var(--icon-clr);
    color: #fff;
    cursor: pointer;
    width: 14rem;
}
.check-property:hover{
    background: var(--icon-hover-clr);
}
.head p{
    letter-spacing: 1px;
    line-height: 25px;
    color: gray;
}
.acc h3{
    letter-spacing: 1px;
    color: rgb(84, 84, 84);
    padding: .6rem;
    background: whitesmoke;
    text-align: center;
    border-radius: 50px;
}
.user-account-id{
    padding: .5rem;
    border: none;
    border-bottom: 2px solid var(--icon-clr);
    background: transparent;
    display: block;
    width: 14rem;
    margin-bottom: 8px;
    /* box-shadow: 2px 2px 8px gray; */
}
.user-account-id:focus{
    outline: none;
}


/* footer style */
footer {
    background-color: #f2f2f2;
    padding: 30px;
    margin-top: 2rem;
}

footer h4 {
    margin-bottom: .5rem;
    color: #666;
}

footer p {
    font-size: 14px;
    color: #999;
    padding-left: .4rem;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
    color: #666;
}

.fa{
    margin-right: .6rem;
}

footer ul li a {
    color: #666;
    font-size: 14px;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer hr {
    border-top: 1px solid #ddd;
}

footer p.text-center {
    margin-top: 20px;
    font-size: 14px;
    color: #999;
}

.custom-email{
    text-decoration: none;
    color: #666;
}

.property-location{
    padding: 1rem 0;
}